.Navbar{
display: flex;
align-items: center;
justify-content: flex-start;
height: 6vh;
}

.logo{
    padding: 0 13px;
    background-color: #eceff1;
    font-family: Roboto;
    font-size: 22px;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo i{
    font-size: 3rem;
}


.slider{
    width:15%;
    margin:0 10px;
    display: inline-block;
}

div .rc-slider-track
{
    background-color: transparent;
}

div .rc-slider-rail
{
    height: 15px;
}


div .rc-slider-handle,
div .rc-slider-handle:active,
div .rc-slider-handle:hover,
div .rc-slider-handle:focus
{  
    background-color: green;
    outline: none;
    border: 2px solid green;
    box-shadow: none;
    margin-top: 0.1px;
}

